@import "base/base";

h2 {
    color: #2c3e50;
    font-weight: normal;
}

ul {
    list-style: none;
}

li {
    line-height: 1.6;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: resolve("logo.png") no-repeat center;
    background-size: contain;
}
