@import "base/base";

.view-home {
    text-align: center;

    img {
        margin-top: 60px;
    }

    .hello,
    h2 {
        margin: 20px 0;
    }

    .links {
        a {
            margin: 0 15px;
            text-decoration: underline;
        }
    }
}
