/**
 * Scoped
 * @author Allenice <994298628@qq.com>
 * @date 2017-07-23 23:27:05
 * @since 1.0.0
 */
@import "base/base";

.scoped {
    padding-top: 60px;
    text-align: center;

    h2 {
        color: green !important;
    }

    .cover {
        // 使用 deep 覆盖子组件样式
        /deep/ {
            h2 {
                color: green;
            }
        }
    }
}

.wrap {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(#dcdcdc, .5);
}

.title {
    font-size: 32px;
}
