/**
 * List
 * @author Allenice <994298628@qq.com>
 * @date 2017-07-18 22:56:47
 * @since 1.0.0
 */
@import "base/base";

.list {
    overflow: hidden;
}

ul {
    display: block;
    width: 300px;
    margin: 100px auto;
}
