// stylelint-disable

@import "normalize.css";

// 清除内外边距和设置盒模型
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td,
div, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset, lengend, button, input, textarea, a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

// 设置默认字体
body,
button, input, select, textarea {
    // 这里默认字体需要定义在 _variable.scss
    // font-family: $font-family;
    font-size: 12px;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }

h4, h5, h6 { font-size: 100%; }

a {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
