@import "base/base";

#app {
    margin-top: 60px;
    color: $color-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    text-align: center;
}
