/**
 * Footer
 * @author Allenice <994298628@qq.com>
 * @date 2017-07-21 11:33:39
 * @since 1.0.0
 */
@import "base/base";

.footer {
    display: flex;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;

    .filters {
        flex: 1;
    }

    .clear {
        width: 110px;
        text-align: center;
    }
}
