/**
 * DemoBlock
 */

@import "base/base";

.description {
    margin-bottom: 10px;
}

.tab-header {
    display: flex;
    position: relative;
    height: 50px;
    padding: 0 12px;
    box-shadow: 0 2px 5px -3px rgba(57, 70, 78, 0.3);
    z-index: 1;
}

.tab-header-item {
    display: flex;
    height: 100%;
    padding: 0 15px;
    border-bottom: 3px solid transparent;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.is-active {
        border-bottom-color: $color-primary;
    }
}

.tab-panel {
    height: 300px;
    overflow: auto;
}

.highlight {
    /deep/ {
        pre {
            margin: 0;
            border: 0;
            border-radius: 0;
        }
    }
}
